@media (max-width: 2000px){
/*	.bg_review_carousel{
		width: 500px;
	}*/
	.nav-menu ul.menu li.item-menu a.link-menu{
		white-space: nowrap;
	}
/*	.share{
	margin-left: 120px;
	margin-right: 120px;
	}*/
}
@media (max-width: 1199px){
	.wrapp_baner h1{
		font-size: 50px;
	}
	.galery .fancybox{
		width: 33.33333%;
	}
	.download{
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin: 0 auto;
	}
	.btn_download{
		display: block;
		margin: 0 auto;
		width: 205px;
		padding-left: 3.3%;
	}
}

@media (max-width: 991px){
	.team-box{
		margin: 0 auto;
		max-width: 400px;
		margin-bottom: 40px;
	}
	.img-team-box{
		display:block;
		margin: 0 auto;
	}
	.social-team{
		justify-content: center;
	}
	.logo{
		display: block;
		margin-bottom: 20px;
	}
	.logo img{
		display: block;
		margin: 0 auto;
	}
	.baner{
		top: -157px;
		padding-top: 180px;
		padding-bottom: 100px;
	}
	.wrapp_baner h1{
		font-size: 46px;
		line-height: 52px;
	}
	.text_baner{
		font-size: 18px;
		margin-bottom: 40px;
	}
	.nav-menu ul.menu{
		justify-content: center;
		flex-wrap: wrap;
	}
	.galery .fancybox{
		width: 50%;
	}
	.bg_review_carousel{
		display: none;
	}
	.review_carousel_owl{
		width: 100%;
	}
	.owl_carousel_text{
		font-size: 30px;
		display: block;
		margin: 0 auto;
	}
	.owl_carousel_text_name{
		font-size: 14px;
		display: flex;
		justify-content: center;
	}
	.btn_download{
		padding-left: 4%;
	}
}
@media (max-width: 767px){
	.nav-menu ul.menu li a{
		padding-left: 25px;
		font-size: 12px;
	}
	.wrapp_baner h1{
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 20px;
	}
	.text_baner{
		font-size: 15px;
		margin-bottom: 20px;
	}
	.box-servise{
		margin-bottom: 50px;
		max-width: 400px;
		margin: 0 auto;
	}
	.img-box-servise{
		margin-top: 20px;
	}
	.btn_download{
		padding-left: 5%;
	}
	.owl_carousel_text_name {
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 830px){
	.btn_download {
		padding-left: 5%;
	}
}
@media (max-width: 700px){
	.btn_download {
		padding-left: 6%;
	}
}
@media (max-width: 600px){
	.btn_download{
		padding-left: 7%;
	}
}
@media (max-width: 500px){
	.separator{
		padding-bottom: 11px;
	}
	.galery .fancybox{
		width: 80%;
		margin: 0 auto;
	}
	.wrapp_baner h1{
		line-height: 100%;
	}
	.btn_download{
		padding-left: 8%;
	}
	.owl_carousel_text_name {
		font-size: 14px;
	}
		.footer-collection{
		display: flex;
		flex-direction: column;
		max-width: 100%;
		justify-content: center;
		align-content: center;
	}

}
@media (max-width: 470px){
	.nav-menu ul.menu li a{
		padding-left: 9px;
		font-size: 12px;
	}
	.wrapp_baner h1{
		font-size: 26px;
		line-height: 32px;
	}
	.img-box-servise img {
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}
	.owl_carousel_text {
		font-size: 24px;
	}
}
@media (max-width: 400px){
	.logo{
		max-width: 300px;
		display: block;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.nav-menu ul.menu li.item-menu a.link-menu{
		font-size: 11px;
		font-weight: bold;
	}
	.wrapp_baner h1{
		font-size: 16px;
	}
	.btn_download {
		max-width: 180px;
	}
	.owl_carousel_text {
		font-size: 18px;
		line-height: 30px;
	}
	.footer-collection {
		padding-bottom: 50px;
	}
	.footer-collection-share-name {
		padding-top: 40px;
	}

}

@media screen and (max-width: 200px) {
	.header {
		padding-top: 16px;
	}
	.download-main-text {
		font-size: 20px;
	}
	.btn_download {
		max-width: 160px;
	}
}






